//Colors
$gunmetal-color: #5e607a;
$dark-space-blue: #00001a;
$silver-color: #c5c6ce;
$light-vermillion: #f15d51;
$almost-whiet: #fffdfa;
$yellow-color: #e9aa52;

// Fonts
$h1-fs: 5.6rem;
$h1-lh: 1;
$h1-fw: 800;

$h2-fs: 4rem;
$h2-lh: 1;
$h2-fw: 700;

$h3-fs: 3.2rem;
$h3-lh: 1;
$h3-fw: 700;

$h4-fs: 1.8rem;
$h4-lh: 1.33;
$h4-fw: 800;

$main-text-fs: 1.5rem;
$main-text-fw: 400;
$main-text-lh: 1.7;

$main-ff: "Inter", sans-serif;
